#cardbutton {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
}

.card-body {
  text-align: center;
}

.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: center;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
.formbutton{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4267B2;
}

.button_post:hover {
    background:linear-gradient(to bottom, rgb(13,110,253) 5%, rgb(3, 32, 75)  100%);
    background-color:rgb(13,110,253);
}
.button_post:active {
    position:relative;
    top:1px;
}

.btndelete {
  background-color: rgb(13,110,253); 
  border: none; 
  color: white; 
  cursor: pointer; 
  position: absolute;
  left: 2%;
}

.btnedit {
  background-color: rgb(13,110,253); 
  border: none; 
  color: white; 
  cursor: pointer; 
  position: absolute;
  left: 5%;
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}